.productZoom {
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.zoomSliderBig {
    width: 100% !important;
}

.zoomSlider {
    padding-top: 30px;
}

.zoomSlider .slick-slide {
    padding-right: 20px !important;
}

.zoomSlider * {
    outline: none !important;
}

.zoomSlider .item {
    border: 2px solid transparent !important;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.zoomSlider .slick-current .item {
    border: 2px solid #3bb77e !important;
}

.zoomSlider .slick-arrow {
    top: 55% !important;
    zoom: 80% !important;
}

.zoomSlider .slick-arrow .slick-next {
    right: 2% !important;
}

.zoomSlider .slick-arrow .slick-prev {
    left: 5% !important;
}

.productSlider .item img {
    width: 100%;
    height: auto;
    overflow: inherit;
    border-radius: 10px;
}
.element.style {
    width: 300px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}